@import "tailwindcss";
@plugin './hero.ts';
@source '../../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';
@custom-variant dark (&:is(.dark *));

:root {
  --background: #f5f3ed;
  --foreground: #171717;
}

@theme inline {
  --breakpoint-*: initial;
  --breakpoint-mobile: 350px;
  --breakpoint-tablet: 768px;
  --breakpoint-desktop: 1248px;

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-poppins: "poppins", sans-serif;
  --font-gluten: "gluten", sans-serif;
  --font-karla: "karla", sans-serif;
  --font-roboto: "roboto", sans-serif;

  --color-primary: #8d5c49;
  --color-secondary: #968a72;
  --color-lightgreen: #2CB000;
  --color-skin: #f5f3ed;
  --color-transparentt: #8C98A6;
  --color-brown: #C2AB92;
  --color-lightbrown: #F6EDE3;
  --color-red: #ED1C24;
  --color-border: #D9D9D9;
  --color-lightborder: #E7E7E7;
  --color-lightblue: #E9F3FF;
  --color-darkblue: #131138;
  --color-pink: #E4546B;
  --color-purple: #534F9D;
  --color-torquoise: #04D7DE;
  --color-green: #49763A;
  --color-blackfont: #333333;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: roboto;

  /* background-color: var(--background);
  background-image: url('/LOGO.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh; */
}

.mapboxgl-popup-close-button {
  top: 8px !important;
  right: 8px !important;
  padding: 6px !important;
  border-radius: none;
  border: none !important;
  box-shadow: none !important;
  outline: none !important;
}

@keyframes pulse {

  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: .2;
  }
}

.animate-pulse {
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

video {
  height: 0px !important;
  width: 0px !important;
  visibility: hidden !important;
}

.talk {
  clip-path: polygon(0% 0%, 100% 0%, 100% 81%, 49% 81%, 57% 99%, 31% 81%, 0 81%);
}